@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}
/* Common styling */
.grey { color: gray; }
.capitalize { text-transform: capitalize; }
.uppercase { text-transform: uppercase; }
.center { text-align: center; }
.bold { font-weight: bold; }
.transition { 
   transition: .5s all ease; 
   -webkit-transition: .5s all ease ;
   -moz-transition: .5s all ease ;
  }

/*for wrapper*/
.wrapper {
  max-width: 1400px;
  width: 97.40%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header { border-bottom: 2px solid #dadada; }

header .wrapper {
  width: 95%;
  padding-top: 14px;
  padding-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ham { display: none; } 
.godrej { flex-basis: 18%; }
h1 { width: 13%; }

.navigation { 
  display: flex;
  flex-basis: 85%;
  align-items: center;
  justify-content: space-between;
}

nav { flex-basis: 85%; } 

nav li a {
  margin: 0 14px;
  color: #7a7a7a;
  font-size: 16px;
  font-weight: bold;
}

nav .active,
nav li a:hover { color: #297bb1; }

nav li::before {
  content: "\|";
  color: #dadada;
  font-weight: bold;
}

nav li:last-child::before { display: none; }

nav ul::after {
  content: "";
  width: 2px;
  height: 20px;
  background-color: #7a7a7a;
}

.call a { 
  margin-right: 0;
  margin-left: 35px;
 }

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
/* banner styles starts here */
.banner { 
  border-bottom: 2px solid #dadada;
  display: flex; 
}

article {
  padding: 95px 0;
  margin-left: 15%;
}


article p {
  width: 82%;
  margin-bottom: 20px;
  color: #797371;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

h2 {
  margin-bottom: 15px;
  color: #000;
  font-size: 45px;
  font-weight: bold;
}

.banner img { margin-top: -2px; }
/* banner styles ends here */

/* floorplans styles starts here */

.floorplans .slider .wrapper { width: 94.20%; } 
.floorplans-content { margin: 45px 0 45px 6%; }

.floorplans-content p {
  margin-bottom: 40px;
  color: #797371;
  font-size: 18px;
  font-weight: bold;
}

.floorplan-nav a {
  color: #606060;
  font-size: 20px;
  font-weight: bold;
  transition: 0.5s all ease; 
}

.floorplan-nav .active,
.floorplan-nav a:hover { color: #47a8f9; }
.floorplan-nav li { margin-right: 2%; }
.floorplans .slider figure:not(.active) { display: none; }

.buttons { 
  padding: 32px 0;
  background-color: #7E7E7E; 
}

.buttons span {
  display: inline;
  color: #fff;
  font-size: 20px;
}

.left { margin-right: 3.5%; }
.right { float: right; }
.buttons a:hover { color: #000; }
/* floorplans styles ends here */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
footer .wrapper {
  margin-top: 86px;
  display: flex;
}

h3 { 
  margin-bottom: 16px;
  font-size: 22px; 
}

.footer-one { margin-left: 14%; }

.footer-one,
.footer-two,
.footer-three {
  margin-right: calc(12% - 5px);
  flex-basis: 19%;
}

.footer-three { margin-right: 0; }

footer a {
  margin-bottom: 8px;
  color: #5b5456;
  font-size: 14px;
  font-weight: bold;
}

.footer-one li,
.footer-two li,
.footer-three div { margin-bottom: 20px; }

footer .active,
footer a:hover { color: #47a8f9; }

.social li {
  width: 16%;
  margin-right: 10%;
}

.social { display: flex; }
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {

}  
/*media query for 995px ends here*/
/*media query for 768px starts here*/
@media only screen and (max-width: 995px) {

}  
/*media query for 768px ends here*/
